.acercaNosotros, .reconocimiento {
  padding: 0 15%;
}
.acercaNosotros h1, .reconocimiento h1 {
  text-align: center;
  color: #003A8F;
}
.acercaNosotros .contnPrinc, .reconocimiento .contnPrinc {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.acercaNosotros .contnPrinc .fondImg, .reconocimiento .contnPrinc .fondImg {
  width: 300px;
  height: 230px;
  padding-bottom: 30px;
  background: url("../imagen/nosotros-somb.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 500px 230px;
}
.acercaNosotros .contnPrinc .parrafoLogo, .reconocimiento .contnPrinc .parrafoLogo {
  align-self: flex-end;
  margin-left: 90px;
  width: 400px;
  color: #4D4D4D;
}
.acercaNosotros .contnPrinc .parrafoLogo .iconos, .reconocimiento .contnPrinc .parrafoLogo .iconos {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}
.acercaNosotros .contnPrinc .parrafoLogo .iconos img, .reconocimiento .contnPrinc .parrafoLogo .iconos img {
  width: 60px;
  height: 60px;
}
.acercaNosotros .contnPrinc .imgNstr, .reconocimiento .contnPrinc .imgNstr {
  width: 300px;
  height: 230px;
  filter: drop-shadow(3px 3px 5px rgba(77, 77, 77, 0.5));
  -webkit-filter: drop-shadow(3px 3px 5px rgba(77, 77, 77, 0.5));
  position: absolute;
  left: 50px;
  top: 80px;
}

.reconocimiento {
  height: 100%;
  background: rgba(230, 230, 230, 0.4);
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -o-flex-wrap: wrap;
}
.reconocimiento .contRecn {
  margin: 20px 0;
  width: 250px;
  overflow: hidden;
  display: block;
}
.reconocimiento .contRecn .imgenRecn {
  width: 100%;
  overflow: hidden;
  -webkit-overflow: hidden;
  -moz-overflow: hidden;
}
.reconocimiento .contRecn .imgenRecn img {
  width: 100%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.reconocimiento .contRecn .imgenRecn:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  /*filter: saturate(70%);
  -webkit-filter: saturate(70%);
  -moz-filter: saturate(20%);
  -o-filter: saturate(20%);*/
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.reconocimiento .contRecn .titul {
  padding: 8px 0;
}
.reconocimiento .contRecn .titul h1 {
  font-size: 18px;
  text-align: initial;
  padding: 3px 0;
}
.reconocimiento .contRecn .titul h3 {
  font-size: 14px;
  color: #4D4D4D;
}
.reconocimiento .contRecn .contParr {
  font-size: 12px;
  color: #4D4D4D;
  display: flex;
  justify-content: space-between;
}
.reconocimiento .contRecn .contParr ul {
  list-style: none;
  position: relative;
}
.reconocimiento .contRecn .contParr ul li {
  padding: 1px 0 1px 15px;
}
.reconocimiento .contRecn .contParr ul li:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid #DA6207;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: absolute;
  left: 0;
  margin: 3px 0;
}

@media (max-width: 800px) {
  .contnPrinc {
    flex-direction: column;
    padding: 0 5%;
    position: relative;
  }
  .contnPrinc img {
    width: 100% !important;
    /*height: 30% !important;*/
  }
  .contnPrinc span::after {
    width: 100% !important;
    /*height: 71% !important;
    top: 50px !important;*/
  }
  .contnPrinc .fondImg {
    margin: 0 auto;
  }
  .contnPrinc .parrafoLogo {
    width: 100% !important;
    margin: 10px 0 !important;
  }
  .contnPrinc .parrafoLogo .iconos {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .contnPrinc .parrafoLogo .iconos img {
    width: 90px !important;
    height: 90px !important;
  }
  .contnPrinc .fondImg {
    justify-content: center;
  }
  .contnPrinc .imgNstr {
    width: 330px !important;
    height: 260px !important;
    top: 35px !important;
    left: 0px !important;
    right: 0;
    bottom: 0;
    margin: 0 auto !important;
    /*transform: translateY(-100px);*/
  }
}
@media (max-width: 700px) {
  .reconocimiento .contRecn {
    width: 100% !important;
  }
}
@media (max-width: 550px) {
  .acercaNosotros .contnPrinc .parrafoLogo .iconos img {
    width: 90px !important;
    height: 90px !important;
  }

  .imgenRecn:hover img {
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(0);
    -o-transform: scale(0);
  }
}

/*# sourceMappingURL=acercaNosotros.css.map */
