$celeste: #0074FF;
$azul: #003A8F;
$azulTrs: rgba(0, 57, 143, 0.8);
$griss: rgba(230, 230, 230, 0.4);
$griss2:rgb(102, 102, 102);
$plomo: #4D4D4D;
$plomo2:rgb(44, 44, 44);
$naranja: #DA6207;
$blanco: #fff;

.acercaNosotros, .reconocimiento{
    padding: 0 15%;
    
    
    h1{
        text-align: center;
        color: $azul;
    }
    .contnPrinc{
        padding: 50px 0;
        
        display: flex;
        justify-content: space-between;
        position: relative;

        .fondImg{
            width: 300px;
            height: 230px;
            padding-bottom: 30px;
            background: url("../imagen/nosotros-somb.jpg");
            background-repeat: no-repeat;
            background-position: center top;
            background-size:500px 230px;
        }
        .parrafoLogo{
            align-self: flex-end;
            margin-left: 90px;
            width: 400px;
            color: $plomo;
            .iconos{
                padding-top: 25px;
                display: flex;
                justify-content: space-around;
                
                img{
                    width: 60px;
                    height: 60px;
                    
                }
            }
        }
        .imgNstr{
            width: 300px;
            height: 230px;
            filter: drop-shadow(3px 3px 5px rgba($plomo,0.5));
            -webkit-filter: drop-shadow(3px 3px 5px rgba($plomo,0.5));
            position: absolute;
            left: 50px;
            top: 80px;
        }
        
    }
}

.reconocimiento{

    height: 100%;
    background: $griss;
    padding-top: 70px;
    padding-bottom: 70px;

    display: flex;
    flex-direction: column;
    .cajaRec1, .cajaRec2, .cajaRec3{
        width: 100%;
        height: 400px;
        margin: 15px 0;

        .contenRecm1, .contenRecm2, .contenRecm3{
            background: $blanco;
            width: 40%;
            height: 200px;
            padding: 45px;
            box-shadow: 0 0 7px rgba($plomo, 0.5);
            
            h1{
                text-align: start;
                color: $plomo2;
            }
            h3{
                font-size: 14px;
                color: $plomo;
            }
            p{
                margin: 15px 0;
                color: $griss2;
                font-size: 14px;
            }
        }
        .contenRecm1{
            transform: translateX(80%) translateY(28%);
        }
        .contenRecm2{
            transform: translateX(0%) translateY(13%);
            .contParr{
                margin: 15px 0;
                font-size: 12px;
                color: $plomo;
                display: flex;
                justify-content: space-between;
    
                ul{
                    list-style: none;
                    position: relative;
                    li{
                        padding: 1px 0 1px 15px;
                    }
                    li:before{
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 8px solid $naranja;
                        border-top: 4px solid transparent;
                        border-bottom: 4px solid transparent;
                        position: absolute;
                        left: 0;
    
                        margin: 3px 0;
                    }
                }
            }
        }
        .contenRecm3{
            transform: translateX(80%) translateY(0%);
        }
    }
    .cajaRec1{
        background: url("../imagen/caja1.png");
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    .cajaRec2{
        background: url("../imagen/caja2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100%;
    }
    .cajaRec3{
        background: url("../imagen/caja3.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    /*justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;*/

    /*.contRecn{
        margin: 20px 0;
        width: 250px;
        overflow: hidden;

        display: block;

        .imgenRecn{
            width: 100%;
            overflow: hidden;
            -webkit-overflow: hidden;
            -moz-overflow: hidden;
            
            img{
                width: 100%;

                transition: all 0.2s;   
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s; 
                -o-transition: all 0.2s;
            }
        }
        .imgenRecn:hover img{
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);

            /*filter: saturate(70%);
            -webkit-filter: saturate(70%);
            -moz-filter: saturate(20%);
            -o-filter: saturate(20%);*/

    /*        transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s; 
            -o-transition: all 0.2s;
        }
        
        .titul{
            padding: 8px 0;
            h1{
                font-size: 18px;
                text-align: initial;
                padding: 3px 0;
            }
            h3{
                font-size: 14px;
                color: $plomo;
            }
        }
        .contParr{
            font-size: 12px;
            color: $plomo;
            display: flex;
            justify-content: space-between;

            ul{
                list-style: none;
                position: relative;
                li{
                    padding: 1px 0 1px 15px;
                }
                li:before{
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 8px solid $naranja;
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    position: absolute;
                    left: 0;

                    margin: 3px 0;
                }
            }
        }
    }*/
}

@media (max-width: 800px){
    .contnPrinc{
        flex-direction: column;
        padding: 0 5%;
        position: relative;

        img{
            width: 100% !important;
            /*height: 30% !important;*/
        }
        span::after{
            
            width: 100% !important;
            /*height: 71% !important;
            top: 50px !important;*/
            
        }
        .fondImg{
            margin: 0 auto;
        }
        .parrafoLogo{
            width: 100% !important;
            margin: 10px 0 !important;

            .iconos{
                padding-top: 30px;
                display: flex;
                justify-content: space-around;
                
                img{
                    width: 90px !important;
                    height: 90px !important;
                    
                }
            }
        }
        .fondImg{
            justify-content: center;
            
        }
        .imgNstr{ 
            width: 330px !important;
            height: 260px !important;
            top: 35px !important;
            left: 0px !important;
            right: 0;
            bottom: 0;
            margin: 0 auto !important;
            /*transform: translateY(-100px);*/
        }
    }
}

@media (max-width: 700px){
    
    .reconocimiento{

        .contRecn{
            width: 100% !important;
            
        }
    }
    
 }

 @media (max-width: 550px){
    .acercaNosotros{
        .contnPrinc{
            .parrafoLogo{
                .iconos img{
                    width: 90px !important;
                    height: 90px !important;
                }
            }
        }
    }
    .imgenRecn:hover img{
            transform: scale(1) !important;
            -webkit-transform: scale(1) !important;
            -moz-transform: scale(0);
            -o-transform: scale(0);
    }
 }