$blanco : #fff;
$griss: rgba(230, 230, 230, 1);
$plomClar: rgb(128, 128, 128, 0.8);
$azul: #003A8F;
$azulTrs: rgba(0, 57, 143, 0.5);
$plomo: #4D4D4D;
$naranja: #DA6207;
$naranjaTrs: rgba(218, 98, 7, 1);


.contact{
    background: url("../imagen/contactos.jpg");
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    position: relative;
    /*.fondImag{
        background: $griss;
        width: 100%;
        height: 200px;
    }*/
    .formul{
        background: $blanco;
        width: 400px;
        box-shadow: 0 0 5px rgba($plomClar,0.5);
        padding: 45px;
        z-index: 50;

        .registForm{
            height: 100%;
            color: $plomo;
            margin: 25px;

            display: flex;
            flex-direction: column;

            .opCon{
                margin: 5px 0;
                outline-style: none;
                border-style: none;
            }
            .opConM{
                padding: 0 25px;
                margin: -2px;
                font-size: 10px;
                color: $naranja;
            }
            #btnEnviar{
                padding: 10px 0;
                margin-top: 25px;
                border-radius: 25px;
                background: $plomo;
                color: $blanco;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
            }
            #btnEnviar:hover{
                background: $plomClar;
                border: 0.5px solid $plomClar;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;

                cursor: pointer;
            }
            h1{
                text-align: center;
            }
            label{
                padding: 0 25px;
            }
            input, textarea {
                border-bottom: 1px solid $plomClar !important ;
                padding: 3px 25px;
            }
            ::-webkit-input-placeholder{
                font-size: 12px;
                color: $plomClar;
            }
            ::-ms-input-placeholder{
                font-size: 12px;
                color: $plomClar;
            }
            ::-moz-input-placeholder{
                font-size: 12px;
                color: $plomClar;
            }
            :-moz-input-placeholder{
                font-size: 12px;
                color: $plomClar;
                
            }
        }
    }
    /*.somb{
        box-shadow: 0 0 5px $plomClar;
        width: 490px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;

    }
    .somb:before{
        content: "";
        box-shadow: 0 0 5px $plomClar;
        width: 490px;
        height: 100px;
        position: absolute;
        top: 380px;
        bottom: 0px;
        left: 0px;*/
        //margin: auto;

    //}
}
/*.contact:after{
    content: "";
    background: url(../imagen/fondCont.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}*/


@media (max-width: 620px){
   .contact{
       .formul{
           width: 100% !important;
       }
   }
   /*.somb{
    width: 100% !important;
   }*/
}