$blanco : #fff;
$griss: rgba(230, 230, 230, 0.4);
$celeste: #0074FF;
$azul: #003A8F;
$azulTrs: rgba(0, 57, 143, 0.171);
$plomo: #4D4D4D;
$naranja: #DA6207;
$naranjaTrs: rgba(218, 98, 7, 1);

@import url("servicios.css");
@import url("acercaNosotros.css");
@import url("tecnologia.css");
@import url("contador.css");
@import url("contacto.css");
@import url("footer.css");

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Barlow', sans-serif;

}

header{
    padding: 25px 15%;
    //width: 100%;
    height: 500px;
    background: url("/imagen/imagenHeader2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .logoCont{
        color: $blanco;

        display: flex;
        justify-content: space-between;
        img{
            width: 150px;
        }

        .fono{
            font-size: 14px;
            display: flex;
            align-items: flex-end;
            //align-self: flex-end;

            transform: translateY(7px);
        }

    }
    hr{
        margin: 15px 0 5px 0;
        border: 0.5px solid $griss;
    }
    nav{
        
        .menuInc{
            display: flex;
            justify-content: space-around;

            li{
                list-style: none;
                padding: 7px 15px;
                border-radius: 3px;
                position: relative;
                transition: all 0.35s;

                a{
                    text-decoration: none;
                    color: $blanco;
                    font-size: 15px;
                }
                
                /*p{
                    font-size: 8px;
                    color: $griss;
                    margin-top: -7px; 
                }*/

                &:before{
                    content: "";
                    width: 0%;
                    height: 3px;
                    background: $naranja;
                    transition: width 0.3s;

                    position: absolute;
                    top: -7px;
                    left: 0;
                }
            }
            hr{
                margin-top: 8px;
            }
            li:hover{
                background: $naranjaTrs;
                transition: all 0.2s;

                &:before{
                    
                    width: 100%;
                    height: 3px;
                    background: $naranja;

                    position: absolute;
                    top: -7px;
                    left: 0;
                }
            }
        }
    }
    .headerCont{
        color: $blanco;
        text-align: center;
        
        display: flex;
        flex-direction: column;
        
        transform: translateY(270px);

        h2{
            color: $blanco;
        }
        
    }
}


////// ----------------- ///////////////

@media (max-width: 992px){
    header, .acercaNosotros, .reconocimiento, .tecnologia, .viajPlant, .contFoot{
        padding: 25px 5%;
    }
    
}

@media (max-width: 640px){
    
    header{
        nav{
            .menuInc{
                display: none;
            }
        }
    }
}