
.contFoot{
    padding: 25px 15%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .links{

        a:nth-child(1){
            margin: 15px;
        }
    }
}

@media (max-width: 600px){
    .contFoot{
        flex-direction: column-reverse;
        text-align: center;
        .copyright{
            margin-top: 15px;
        }
        .links{

            a:nth-child(1){
                margin: 5px !important;
            }
        }
    }
}